.restaurants-banner {
  text-align: center;
  justify-content: center;
  background-image: rgba(0,0,0, 0.8);
  background-position: center;
  padding: 150px 0;
  margin-bottom: 20px;

  .banner-button {
    display: block;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    padding: 12px;
    background-color: white;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 25px;
    justify-content: center;
  }

  .banner-button:hover {
    background-color:#8A9B68;
    color: white;
    transition: ease .3s;
    cursor: pointer;
  }

  .banner-content {
    h1 {
      font-weight: bold;
      font-family: "Pacifico", cursive;
      font-style: normal;
      color: white;
    }

    p {
      margin-top: 15px;
      font-family: "Pacifico", cursive;
      font-style: normal;
      color: white;
    }
  }
}



.banner-container {
  width: 100px;
  align-items: center;
  justify-content: center;
}
