.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.logo_text {
  font-size: 18px;
  display: inline-block;
  margin-left: -745px;
  margin-bottom: -8px;
}


.nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link.primary {
  padding: 5px;
  background-color: #8A9B68;
  border-radius: 5px;
  color: white;

  &:hover {
    opacity: 75%;
  }

  transition: opacity .2s ease;
}

.navbar-nav {
  align-items: center;
  column-gap: 10px;

  p {
    margin: 0;
  }
}
